<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>products</title>
</head>
<body>
    <h1> Products </h1>

    <h2> View Products</h2>
    <table>
        <tr>
            <th> Product ID</th>
            <th> Product Name</th>
            <th> Product Price</th>
        </tr>
        <tr th:each="p: ${products}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
        </tr>

    </table>

    <h2> Add Product</h2>
    <form action="/products" method="post">

        Name: <input type="text" name="productID"></br>
        Product Name: <input type="text" name="productName"></br>
        Product Price: <input class="productPrice"  type="text" name="productPrice"></br>
        <button type="submit"> Add Product</button>

    </form>

</body>
</html>